.sec-abt {
	background-color: $color-light;
	padding: 25rem 0;
	margin-top: -20vh;
}

.sec-features {
	padding: 20rem 0;
	background-image: linear-gradient(
			to right bottom,
			rgba(0, 0, 0, 0.9),
			rgba(128, 128, 128, 0.8),
			rgba(0, 0, 0, 0.8)
		),
		url("../img/2018-03-05\ 16.19.37.png");
	background-size: 100% 100%;
	transform: skewY(-7deg);
	& > * {
		transform: skewY(7deg);
	}
	margin-top: -10vh;
}
.sec-services {
	background-color: $color-light;
	padding: 25rem 0 10rem 0;
	margin-top: -15vh;
}
.sec-stories {
	padding: 15rem 0;
	position: relative;
}
.sec-booking {
	padding: 15rem 0;
	background-image: linear-gradient(to right top, $color-pry, $color-black);
}
.booking {
	background-image: linear-gradient(
			105deg,
			rgba($color-white, 0.8) 0%,
			rgba($color-white, 0.8) 50%,
			transparent 50%
		),
		url("../img/nathan-anderson-179449-unsplash.jpg");
	background-size: 100% 100%;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-white, 0.1);
	overflow: hidden;
	height: 50rem;
	&__form {
		width: 50%;
		padding: 6rem;
	}
}
