.heading-pry {
	color: $color-light;
	text-transform: uppercase;
	backface-visibility: hidden;
	text-align: left;
	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 35px;
		animation-name: moveInLeft;
		animation-duration: 1.5s;

		@include resolution(phone) {
			letter-spacing: 1rem;
		}
	}
	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 0.94rem;
		animation-name: moveInRight;
		animation-duration: 1.5s;
		text-align: left;
		margin-left: 0.5rem;
		@include resolution(tab-portrait) {
			margin-left: 2.5rem;
			letter-spacing: 1rem;
		}
		@include resolution(phone) {
			margin-left: 1.2rem;
			font-size: 1.5rem;
			letter-spacing: 0.5rem;
		}
	}
}
.heading-sec {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	background-image: linear-gradient(
		to right,
		$color-pry,
		$color-black,
		$color-pry
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	transition: all 0.2s;
	@include resolution(tab-portrait) {
		font-size: 2.5rem;
	}
	@include resolution(phone) {
		font-size: 2rem;
	}
	&:hover {
		transform: skewY(2deg) skewX(10deg) scale(1.1);
		text-shadow: $color-text-shadow;
	}
}
.heading-tet {
	color: $color-pry;
	font-size: $font-size-default;
	font-weight: 700;
	text-transform: uppercase;
}

.para {
	font-size: $font-size-default;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
